body{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 10px 5% 0 5%;
    display: flex;
    justify-content: center;
}


.error{
    color: red
}

.filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.filter-order{
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: red
}
.filter-favorito{
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: red
}

.order-favorito{
    display: flex;
    
}

.card-hero{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.card-legend{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}