/* 

.container{
    width: 90%;
    margin: 10px 5% 0 5%;
}








*/

.container-home{
    width: 90%;
    margin: 10px 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    box-sizing: border-box;
}

.filter-control{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.filter-favorito{
    display: flex;
    align-items: center;
    color: red
}

.container{
    width: 70%;
    margin: 10px 15% 0 15%;
    
}

.heroes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
}

footer{
    width: 100%;
    height: 80px;
    background-color: red;
} 

body{
    margin: 0;
    padding: 0;
}

.error{
    color: red
}